@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

body {
    font-family: "Raleway", sans-serif;
}

@theme {
    /* font-family */
    --font-Montserrat: "Montserrat",
        sans-serif;
    /* text-size */
    --text-large: 64px;
    --text-medium: 40px;
    /* max-width */
    --max-width: 500px;
    /* break-point */
    --breakpoint-xs: 480px;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}
@layer components {
    button {
        @apply !transition-transform !duration-300 hover:scale-95;
        
    }
}